<!DOCTYPE html>
<html>
<head>
    <title>Task Details</title>
</head>
<body>

    <h1>Task Details</h1>

    <h2>{{ task.title }}</h2>

    <p>{{ task.description }}</p>

    <p>
        Completed:
        {% if task.completed %}
            Yes
        {% else %}
            No
        {% endif %}
    </p>

    <a href="/tasks/">Back to Task List</a>
    <br>
<a href="/cbv/tasks/{{ task.id }}/edit/">Edit Task</a>
<br>
<a href="/cbv/tasks/">Back to Task List</a>
<br>
<a href="/tasks/{{ task.id }}/delete/">Delete Task</a>
<br>

</html>
</body>